<!-- Project Details Go Here -->
<h2 id="projectTitle"></h2>
<p  id="projectSubTitle" class="item-intro text-muted"></p>
<img class="img-responsive img-centered" src="" alt="">
<p id="projectDesc"></p>

<ul class="list-inline">
    <li>Date: <span id="projectDate"></span></li>
    <li>Category: <span id="projectCategory"></span></li>
</ul>

<button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
