@model LunarSFXc.Objects.Post

<!--Heading-->
<div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 blog-col">
    <div class="hovereffect">
        <img src="~/img/blog_typewriter.jpg" alt="Alternate Text" class="img-responsive" />
        <div class="overlay">
            <h3>
                <post for-post="Model"></post>                              
            </h3>
            <h4>@Model.PostedBy?.UserName</h4>
            <p class="text-nowrap">
                @Html.Raw(Model.ShortDescription)
                <br />@Model.PostedOn.ToString("d")
            </p>
        </div>
    </div>
</div>