@model LunarSFXc.Objects.Post

<!--Heading-->
<div class="col-lg-4 col-md-4 blog-col" data-scrollreveal="enter left over 1.5s" data-sr-init="true" data-sr-complete="true">
    <a href="#" class="blog-preview-img">
        <div class="caption">
            <div class="caption-content">
                <i class="fa fa-search fa-3x"></i>
            </div>
        </div>
        <img src="" alt="Alternate Text" class="img-responsive" />
    </a>
    <div class="blog-preview-content">
        <h3 class="post-title">
            <post for-post="Model"></post>
        </h3>
        <p class="post-body">
            @Html.Raw(Model.ShortDescription)
        </p>
        <div class="continue">
            <post for-post="Model" post-title="continue..."></post>
        </div>

        <div class="post-meta">
            <span class="pull-right">@Model.PostedOn.ToString("d")</span>
        </div>
    </div>
</div>