@model LunarSFXc.Objects.Post

<!--Heading-->
<div class="col-lg-4 col-md-4 col-sm-6">
    <div class="well post-preview">
        <h3 class="post-title">
            <post for-post="Model"></post>
        </h3>
        <div class="post-meta">
            <!--Category-->
            <div>
                <category for-category="Model.Category"></category>
            </div>
            <div>
                <!--Tags-->
                <tags post-tags for-tags="Model.PostTags"></tags>
                <!--Posted date-->
                <span class="pull-right">Posted On @Model.PostedOn.ToString("d")</span>
            </div>
        </div>
        <div class="post-body">
            @Html.Raw(Model.ShortDescription)
        </div>

        <div class="post-foot">
            <post for-post="Model" post-title="continue..."></post>
        </div>
    </div>
</div>