@{
    Layout = "_AdminLayout";
}

@section Scripts{

    <!-- Angular Scripts -->
    <script type="text/javascript" src="~/lib/angular/angular.min.js"></script>
    <script type="text/javascript" src="~/lib/angular-messages/angular-messages.min.js"></script>
    <script type="text/javascript" src="~/lib/angular-route/angular-route.min.js"></script>
    <script type="text/javascript" src="~/lib/angular-resource/angular-resource.min.js"></script>

    <script type="text/javascript" src="~/js/app-admin.js"></script>
    <script type="text/javascript" src="~/js/services.js"></script>
    <script type="text/javascript" src="~/js/routing.js"></script>
    <script type="text/javascript" src="~/js/dataResource.js"></script>
    <script type="text/javascript" src="~/js/postsResource.js"></script>
    <script type="text/javascript" src="~/js/postsCtrl.js"></script>
}

<div class="row" ng-app="app-admin">
    <p>Look below</p>
    <div ng-view>

    </div>
</div>