@{
    Layout = "_AdminLayout";
}

@section Scripts{

    <!-- Angular Scripts -->
    <script type="text/javascript" src="~/lib/angular/angular.min.js"></script>
    <script type="text/javascript" src="~/lib/angular-messages/angular-messages.min.js"></script>
    <script type="text/javascript" src="~/lib/angular-route/angular-route.min.js"></script>
    <script type="text/javascript" src="~/lib/angular-resource/angular-resource.min.js"></script>
    <script type="text/javascript" src="~/lib/angular-animate/angular-animate.min.js"></script>
    <script type="text/javascript" src="~/lib/angular-touch/angular-touch.min.js"></script>
    <script type="text/javascript" src="~/lib/angular-ui-grid/ui-grid.js"></script>
    <script type="text/javascript" src="~/lib/angular-file-upload/dist/angular-file-upload.min.js"></script>
    <script type="text/javascript" src="~/lib/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script type="text/javascript" src="~/lib/angular-bootstrap-lightbox/dist/angular-bootstrap-lightbox.min.js"></script>
    <script type="text/javascript" src="~/js/app-admin.js"></script>
    <script type="text/javascript" src="~/js/services.js"></script>
    <script type="text/javascript" src="~/js/routing.js"></script>
    <script type="text/javascript" src="~/js/directives.js"></script>
    <script type="text/javascript" src="~/js/dataResource.js"></script>
    <script type="text/javascript" src="~/js/postsCtrl.js"></script>
    <script type="text/javascript" src="~/js/imagesCtrl.js"></script>
    <script type="text/javascript" src="~/js/addPostCtrl.js"></script>
    <script type="text/javascript" src="~/js/addImagesCtrl.js"></script>
    <script type="text/javascript" src="~/js/aboutMeCtrl.js"></script>

}

<div class="row" ng-app="app-admin">
    <h4 class="page-header">Blog Posts</h4>
    <div ng-view>

    </div>
</div>