@{
    Layout = "_AdminLayout";
}

@section Scripts{

    <!-- Angular Scripts -->
    <script type="text/javascript" src="~/lib/angular/angular.min.js"></script>
    <script type="text/javascript" src="~/lib/angular-messages/angular-messages.min.js"></script>
    <script type="text/javascript" src="~/lib/angular-route/angular-route.min.js"></script>
    <script type="text/javascript" src="~/lib/angular-resource/angular-resource.min.js"></script>
    <script type="text/javascript" src="~/lib/angular-animate/angular-animate.min.js"></script>
    <script type="text/javascript" src="~/lib/angular-touch/angular-touch.min.js"></script>
    <script type="text/javascript" src="~/lib/angular-ui-grid/ui-grid.js"></script>
    <script type="text/javascript" src="~/js/app-admin.js"></script>
    <script type="text/javascript" src="~/js/services.js"></script>
    <script type="text/javascript" src="~/js/routing.js"></script>
    <script type="text/javascript" src="~/js/dataResource.js"></script>
    <script type="text/javascript" src="~/js/postsResource.js"></script>
    <script type="text/javascript" src="~/js/postsCtrl.js"></script>
}

<div class="row" ng-app="app-admin">
    <h4 class="page-header">Blog Posts</h4>
    <div ng-view>

    </div>
</div>