<div class="col-lg-8 col-lg-offset-2">
    <h4 class="page-header">New Blog Post</h4>
    <div class="col-sm-offset-2">
        <div uib-alert dismiss-on-timeout="5000" ng-repeat="alert in alerts" ng-class="'alert-' + (alert.type || 'warning')" close="closeAlert($index)">{{alert.msg}}</div>
    </div>
    <form class="form-horizontal"
          name="blogPostForm"
          id="blogPostForm"
          novalidate
          ng-submit="blogPostForm.$valid && saveBlogPost()">
        <div class="form-group">
            <label for="title" class="col-sm-2 control-label">Post Title</label>
            <div class="col-sm-10">
                <input required
                       ng-model="blogPost.title"
                       ng-readonly="readonlyTitle"
                       ng-change="writeUrlSlug(blogPost.title)"
                       type="text"
                       id="title"
                       name="title"
                       ng-maxlength="500"
                       class="form-control"
                       placeholder="Title" />

                <div class="help-block has-error text-muted" ng-messages="blogPostForm.title.$error" role="alert">
                    <div ng-message="required">Title is required.</div>
                    <div ng-message="maxlength">Title is too long.</div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="shortDescription" class="col-sm-2 control-label">Short Description</label>
            <div class="col-sm-10">
                <textarea required
                          ng-model="blogPost.shortDescription"
                          ng-minlength="50"
                          ng-maxlength="250"
                          type="text"
                          id="shortDescription"
                          name="shortDescription"
                          class="form-control"
                          rows="5"></textarea>

                <div class="help-block has-error text-muted" ng-messages="blogPostForm.shortDescription.$error">
                    <div ng-message="required">Short Description is required.</div>
                    <div ng-message="minlength">Short Description is too short.</div>
                    <div ng-message="maxlength">Short Description is too long.</div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="description" class="col-sm-2 control-label">Blog Post</label>
            <div class="col-sm-10">
                <textarea required
                          ng-model="blogPost.description"
                          ng-minlength="50"
                          ng-maxlength="5000"
                          type="text"
                          id="description"
                          name="description"
                          class="form-control"
                          rows="15"></textarea>

                <div class="help-block has-error text-muted" ng-messages="blogPostForm.description.$error">
                    <div ng-message="required">Description is required.</div>
                    <div ng-message="minlength">Description is too short.</div>
                    <div ng-message="maxlength">Description is too long.</div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="category" class="col-sm-2 control-label">Category</label>
            <div class="col-sm-10">
                <select id="category"
                        required
                        name="category"
                        class="form-control"
                        ng-options="cat as cat.name for cat in categories track by cat.id"
                        ng-model="blogPost.category"></select>
                <div class="help-block has-error text-muted" ng-messages="blogPostForm.category.$error">
                    <div ng-message="required">Category is required.</div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="tags" class="col-sm-2 control-label">Tags</label>
            <div class="col-sm-10">
                <ui-select multiple
                           tagging="tagTransform"
                           ng-model="blogPost.tags"
                           theme="bootstrap"
                           title="Choose a tag"
                           on-select="onSelectCallBack($item, $model)">
                    <ui-select-match placeholder="Select tag...">{{$item.name}}&lt;{{$item.description}}&gt;</ui-select-match>
                    <ui-select-choices repeat="tag in tags | filter: {name: $select.search}">
                        <div ng-if="tag.isTag" ng-bind-html="(tag.name | highlight: $select.search) +' (new)'"></div>
                        <div ng-if="!tag.isTag" ng-bind-html="tag.name + tag.isTag| highlight: $select.search"></div>
                        <small>
                            description: {{tag.description}}
                            urlSlug: <span ng-bind-html="''+tag.urlSlug | highlight: $select.search"></span>
                        </small>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
        <div class="form-group" nv-file-drop="" uploader="uploader">
            <label for="image" class="col-sm-2 control-label">Image</label>
            <div class="col-sm-10" ng-show="blogPost.images">
                <div ng-repeat="image in blogPost.images">
                    <div class="col-sm-6 col-lg-6">
                        <img class="img-thumbnail" ng-src="{{image.imageUri}}" alt="Uploaded Image" />
                        <p><span class="text-muted">File name: {{ image.fileName }}</span></p>
                    </div>
                    <div class="col-sm-6 col-lg-6">
                        <button type="button" class="btn btn-danger pull-right" ng-click="removeImage()">
                            <span class="fa fa-trash"></span> Remove
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-sm-10 col-sm-offset-2">
                <div class="col-sm-4">
                    <div ng-show="uploader.isHTML5">
                        <div class="well my-drop-zone" style="height: 250px;" ng-file-over="" uploader="uploader">
                            Drop Image Here
                        </div>
                    </div>
                    <input type="file" nv-file-select="" uploader="uploader" />
                </div>
                <div class="col-md-8">
                    <h4>The Queue</h4>
                    <p>Queue length: {{ uploader.queue.length}}</p>
                    <table class="table">
                        <thead>
                            <tr>
                                <th width="50%">Name</th>
                                <th ng-show="uploader.isHTML5">Size</th>
                                <th ng-show="uploader.isHTML5">Progress</th>
                                <th>Status</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in uploader.queue">
                                <td>
                                    <strong>{{ item.file.name }}</strong>
                                    <!-- Image preview -->
                                    <!--auto height-->
                                    <!--<div ng-thumb="{ file: item.file, width: 100 }"></div>-->
                                    <!--auto width-->
                                    <div ng-show="uploader.isHTML5" ng-thumb="{ file: item._file, height: 100 }"></div>
                                    <!--fixed width and height -->
                                    <!--<div ng-thumb="{ file: item.file, width: 100, height: 100 }"></div>-->
                                </td>
                                <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                                <td ng-show="uploader.isHTML5">
                                    <div class="progress" style="margin-bottom: 0;">
                                        <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                                    </div>
                                </td>
                                <td class="text-center">
                                    <span ng-show="item.isSuccess"><i class="fa fa-check"></i></span>
                                    <span ng-show="item.isCancel"><i class="fa fa-ban"></i></span>
                                    <span ng-show="item.isError"><i class="fa fa-minus-circle"></i></span>
                                </td>
                                <td nowrap>
                                    <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                        <span class="fa fa-upload"></span> Upload
                                    </button>
                                    <button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">
                                        <span class="fa fa-ban"></span> Cancel
                                    </button>
                                    <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                                        <span class="fa fa-trash"></span> Remove
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <div>
                        <div>
                            Queue progress:
                            <div class="progress" style="">
                                <div class="progress-bar" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }"></div>
                            </div>
                        </div>
                        <button type="button" class="btn btn-success btn-s" ng-click="uploader.uploadAll()" ng-disabled="!uploader.getNotUploadedItems().length">
                            <span class="glyphicon glyphicon-upload"></span> Upload all
                        </button>
                        <button type="button" class="btn btn-warning btn-s" ng-click="uploader.cancelAll()" ng-disabled="!uploader.isUploading">
                            <span class="glyphicon glyphicon-ban-circle"></span> Cancel all
                        </button>
                        <button type="button" class="btn btn-danger btn-s" ng-click="uploader.clearQueue()" ng-disabled="!uploader.queue.length">
                            <span class="glyphicon glyphicon-trash"></span> Remove all
                        </button>
                    </div>
                </div>
            </div>
            <!--<div class="col-sm-10 col-sm-offset-2" ng-show="uploader.isHTML5 && uploader.isUploading">
                <div>Queue progress:</div>
                <div class="progress" style="">
                    <div class="progress-bar" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }"></div>
                </div>
                <div>
                    <button type="button" class="btn btn-warning btn-s" ng-click="uploader.cancelAll()" ng-disabled="!uploader.isUploading">
                        <span class="fa fa-ban"></span> Cancel
                    </button>
                </div>
            </div>-->
        </div>
        <div class="form-group">
            <label for="published" class="col-sm-2 control-label">Publish?</label>
            <div class="checkbox col-sm-10">
                <input id="published"
                       name="published"
                       ng-model="blogPost.published"
                       type="checkbox"
                       class="form-control" />
            </div>
        </div>

        <hr />
        <div class="form-group">
            <label for="meta" class="col-sm-2 control-label pull-left">Meta (SEO)</label>
            <div class="col-sm-10">
                <input type="text"
                       id="meta"
                       name="meta"
                       ng-model="blogPost.meta"
                       ng-maxlength="1000"
                       required
                       class="form-control"
                       placeholder="Meta Tags for Google SEO" />

                <div class="help-block has-error text-muted" ng-messages="blogPostForm.meta.$error" role="alert">
                    <div ng-message="required">Meta is required.</div>
                    <div ng-message="maxlength">Meta is too long.</div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="url_slug" class="col-sm-2 control-label pull-left">Url Slug</label>
            <div class="col-sm-10">
                <input type="text"
                       ng-readonly="true"
                       id="url_slug"
                       ng-model="blogPost.urlSlug"
                       ng-maxlength="50"
                       name="url_slug"
                       class="form-control"
                       placeholder="Url Slug" />

                <div class="help-block has-error text-muted" ng-messages="blogPostForm.url_slug.$error" role="alert">
                    <div ng-message="required">Url Slug is required.</div>
                    <div ng-message="maxlength">Url Slug is too long.</div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-10 col-sm-offset-2">
                <div>
                    <button type="submit" class="btn btn-primary btn-lg"><i class="fa fa-save"></i> Submit</button>
                    <button type="button" class="btn btn-danger btn-lg" ng-click="open(blogPost.id)"><i class="fa fa-trash-o"></i> Delete this post</button>

                    <button type="button" ng-click="go('/posts')" class="pull-right btn btn-default btn-lg"><i class="fa fa-remove"></i> Cancel</button>
                </div>
            </div>
        </div>
    </form>
</div>