<div class="col-lg-8 col-lg-offset-2">
    <h4 class="page-header">New Event</h4>
    <div class="col-sm-offset-2">
        <div uib-alert dismiss-on-timeout="5000" ng-repeat="alert in alerts" ng-class="'alert-' + (alert.type || 'warning')" close="closeAlert($index)">{{alert.msg}}</div>
    </div>
    <form class="form-horizontal" name="aboutMeEventForm" id="aboutMeEventForm" novalidate ng-submit="aboutMeEventForm.$valid && saveEvent()">
        <div class="form-group">
            <label for="title" class="col-sm-2 control-label">Event Title</label>
            <div class="col-sm-10">
                <input required ng-model="aboutMeEvent.title" type="text" id="title" name="title" class="form-control" placeholder="Title" />

                <div class="help-block has-error text-muted" ng-messages="aboutMeEventForm.title.$error" role="alert">
                    <div ng-message="required">Title is required.</div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="description" class="col-sm-2 control-label">Description</label>
            <div class="col-sm-10">
                <textarea required ng-model="aboutMeEvent.description"
                          ng-minlength="50"
                          ng-maxlength="250"
                          type="text"
                          id="description"
                          name="description"
                          class="form-control"
                          rows="5"></textarea>

                <div class="help-block has-error text-muted" ng-messages="aboutMeEventForm.description.$error">
                    <div ng-message="required">Description is required.</div>
                    <div ng-message="minlength">Description is too short.</div>
                    <div ng-message="maxlength">Description is too long.</div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="startdate" class="col-sm-2 control-label">Start Date</label>
            <div class="col-sm-10">
                <input required ng-model="aboutMeEvent.startDate" type="text" id="startdate" name="startdate" class="form-control" placeholder="Start Date (e.g. MAY 2015)" />

                <div class="help-block has-error text-muted" ng-messages="aboutMeEventForm.startdate.$error">
                    <div ng-message="required">Start Date is required.</div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="enddate" class="col-sm-2 control-label">End Date</label>
            <div class="col-sm-10">
                <input ng-model="aboutMeEvent.endDate" type="text" id="enddate" class="form-control" placeholder="End Date" />
            </div>
        </div>
        <div class="form-group" nv-file-drop="" uploader="uploader">
            <label for="image" class="col-sm-2 control-label">Image</label>
            <div class="row col-sm-10" ng-show="aboutMeEvent.image">
                <div class="col-sm-6 col-lg-6">
                    <img class="img-thumbnail" ng-src="{{aboutMeEvent.image.imageUri}}" alt="Uploaded Image" />
                    <p><span class="text-muted">File name: {{ aboutMeEvent.image.fileName }}</span></p>
                </div>
                <div class="col-sm-6 col-lg-6">
                    <button type="button" class="btn btn-danger pull-right" ng-click="removeImage()">
                        <span class="fa fa-trash"></span> Remove
                    </button>
                </div>
            </div>
            <div class="col-sm-10" ng-hide="aboutMeEvent.image && !uploader.isUploading">
                <div ng-show="uploader.isHTML5">
                    <div class="well my-drop-zone" style="height: 250px;" ng-file-over="" uploader="uploader">
                        Drop Image Here
                    </div>
                </div>
                <input type="file" nv-file-select="" uploader="uploader" />
            </div>
            <div class="col-sm-10 col-sm-offset-2" ng-show="uploader.isHTML5 && uploader.isUploading">
                <div>Queue progress:</div>
                <div class="progress" style="">
                    <div class="progress-bar" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }"></div>
                </div>
                <div>
                    <button type="button" class="btn btn-warning btn-s" ng-click="uploader.cancelAll()" ng-disabled="!uploader.isUploading">
                        <span class="fa fa-ban"></span> Cancel
                    </button>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-10 col-sm-offset-2">
                <div>
                    <button type="submit" class="btn btn-primary btn-lg"><i class="fa fa-save"></i> Submit</button>
                    <button type="button" class="btn btn-danger btn-lg" ng-click="deleteEvent(aboutMeEvent.id)"><i class="fa fa-trash-o"></i> Delete this event</button>

                    <button type="button" ng-click="go('/aboutme')" class="pull-right btn btn-default btn-lg"><i class="fa fa-remove"></i> Cancel</button>
                </div>
            </div>
        </div>
    </form>
</div>