@model LunarSFXc.ViewModels.CommentViewModel
@{
    var returnUrl = Context.Request.Path;
}
<form id="commentReplyForm"
      asp-controller="Comment"
      asp-action="Save"
      data-ajax="true"
      data-ajax-method="POST"
      data-ajax-failure="failure2(error, status, xhr)"
      data-ajax-success="success2(data, status, xhr)">
    <div class="form-group">
        <input asp-for="User" />
        <input asp-for="ParentCommentId" />

        <div class="formErrorAlert alert alert-warning" role="alert">
            <strong>Error!</strong> Something Happened While Attempting to Save Your Comment.
        </div>

        <div class="formSuccessAlert alert alert-success" role="alert">
            <strong>Success!</strong> Your comment was saved!
        </div>
        <textarea type="text" asp-for="Content" class="form-control" placeholder="Leave a comment" rows="3"></textarea>

        <span class="text-danger" asp-validation-for="Content"></span>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>