@{
    ViewData["Title"] = "Forgot Password Confirmation";
}

@{
    Layout = "_BlogLayout";
}
<section id="forgotPasswordConfirmation">
    <div class="container">
        <div class="col-md-8 col-md-offset-2">
            <div class="text-center">
                <h4>Password has been reset! Or has it?</h4>
                <hr class="primary mb" />
                <p>Please check your email to reset your password</p>
            </div>
        </div>
    </div>
</section>