@model LunarSFXc.ViewModels.ListViewModel

@{
    Layout = "_BlogLayout";
}

<section id="blog-list">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-8">
                <h4>@ViewBag.Title</h4>
                <hr />
                @if (Model.Posts.Count > 0)
                {
                    foreach (var post in Model.Posts)
                    {
                        @Html.Partial("_PostTemplate", post)
                    }
                }
                else
                {
                    <p>No posts found!</p>
                }
                @Html.Partial("_Pager", Model)
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                <!-- Blog Categories Well -->
                <div class="well">
                    @Component.InvokeAsync("Widget", new { sidebar = true }).Result
                </div>
            </div>
        </div>
    </div>
</section>
