@model LunarSFXc.ViewModels.ListViewModel

@{ 
    Layout = "_BlogLayout";
}

<div id="content">
    <div class="container">
        <div class="page-header">
            <h2>@ViewBag.Title</h2>
        </div>

        @if (Model.Posts.Count > 0)
        {
            foreach (var post in Model.Posts)
            {
                @Html.Partial("_PostTemplate", post)
            }
        }
        else
        {
            <p>No posts found!</p>
        }
        @Html.Partial("_Pager", Model)
    </div>
</div>
