@model LunarSFXc.ViewModels.ListViewModel

@{
    Layout = "_BlogLayout";
}

<section id="blog-home">
    <div class="container">
        <div class="row">
            <!-- Blog Entries Column -->
            <div class="col-md-8">
                <h1 class="page-header">
                    My
                    <small>Thoughts, Writings &amp; Experiments</small>
                </h1>
                <h4>@ViewBag.Title</h4>
                <hr />


                @if (Model.Posts.Count > 0)
                {
                    foreach (var post in Model.Posts)
                    {
                        @Html.Partial("_BlogPostTemplate", post)
                    }
                }
                else
                {
                    <p>No posts found!</p>
                }
                @Html.Partial("_Pager", Model)
            </div>
            <div class="col-md-4">
                <!-- Blog Categories Well -->
                <div class="well">
                    @Component.InvokeAsync("Widget", new { sidebar = true }).Result
                </div>
            </div>
        </div>
    </div>
</section>
