@model LunarSFXc.Objects.Post

@{
    Layout = "_BlogLayout";
}

@{
    ViewBag.Title = Model.Title;
}
<div id="content">
    <div class="container">
        <div class="col-lg-10 col-lg-offset-1">
            <div class="blog-col">
                <div class="post-title">
                    <h2>
                        @Model.Title
                    </h2>
                </div>
                <div class="post-meta">
                    <div>
                        <category for-category="Model.Category"></category>
                    </div>
                    <div class="pull-left">
                        <tags post-tags for-tags="Model.PostTags"></tags>
                    </div>
                    <div class="pull-right">
                       By @Model.PostedBy?.UserName<br />
                        <span class="posted-date">
                            @Model.PostedOn.ToString("d")
                        </span>
                    </div>
                </div>
                <div class="well well-lg post-body">
                    <p>@Html.Raw(Model.Description)</p>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>

    </script>
}