.grid {
    width: 100%;
    height: auto;
}

/*Angular FileUpload*/
.my-drop-zone {
    border: dotted 3px lightgray;
}

.nv-file-over {
    border: dotted 3px red;
}/* Default class applied to drop zones on over */

canvas {
    background-color: #f3f3f3;
    -webkit-box-shadow: 3px 3px 3px 0 #e3e3e3;
    -moz-box-shadow: 3px 3px 3px 0 #e3e3e3;
    box-shadow: 3px 3px 3px 0 #e3e3e3;
    border: 1px solid #c3c3c3;
    height: 100px;
    margin: 6px 0 0 6px;
}

/* Missing CSS form Angular Lightbox thingy*/
.gallery {
  padding: 0;
}

/*.gallery li {
  display: inline-block;
  margin: 0 1em 1em 0;
  list-style-type: none;
  text-align: center;
}

@media (max-width: 767px) {
  .gallery li {
    margin: 0;
  }
}*/

.gallery1 img {
  width: 100%;
  max-height: 200px;
}

.gallery2 img {
  width: 6em;
}

.gallery5 img {
  width: 120px;
}


/* Custom CSS for Images in Admin*/
.thumbnail {
    margin: 0;
    border: none;
    padding: 0;
}

.thumb{
    height: 600px;
}

.thumb  .img-responsive {
    display: block;
    width: auto;
    max-height: 100%;
}
/* Images 

#photos {*/
    /* Prevent vertical gaps
    line-height: 0;
    -webkit-column-count: 7;
    -webkit-column-gap: 0px;
    -moz-column-count: 7;
    -moz-column-gap: 0px;
    column-count: 7;
    column-gap: 0px;
}

    #photos img { */
        /* Just in case there are inline attributes 
        width: 100% !important;
        height: auto !important;
    }



@media (max-width: 1200px) {
    #photos {
        -moz-column-count: 4;
        -webkit-column-count: 4;
        column-count: 4;
    }
}

@media (max-width: 1000px) {
    #photos {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }
}

@media (max-width: 800px) {
    #photos {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
}

@media (max-width: 400px) {
    #photos {
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
    }
}*/
