.navbar-custom {
    background-color: #222;
    border: medium none;
    padding: 25px 0;
    transition: padding 0.3s ease 0s;
}

a:hover {
    text-decoration: none;
}

#content {
    margin-top: 100px;
}

    #content .blog-col {
        margin: 20px 0;
    }

        #content .blog-col .post-meta a {
            color: black;
        }

    #content .post-body {
        margin-top: 50px;
    }

.search {
    height: 30px;
    position: relative;
    left: 10px;
    float: left;
    line-height: 22px;
}

    .search:hover .searchTextBox, .search input:focus {
        width: 200px;
        display: inline;
    }

.searchTextBox {
    display: none;
    border-radius: 5px;
    color: black;
}

.post-meta .postTags {
    font-size: smaller;
    opacity: 0.5;
    display: inline-block;
}



body {
    -moz-filter: blur(5px);
    -ms-filter: blur(5px);
    -webkit-filter: blur(5px);
    filter: blur(5px);
    pointer-events: none;
}