#search {
    float: right;
    margin-top: 9px;
    width: 250px;
}

a:hover {
    text-decoration: none;
}

.post-body {
    margin: 10px 0;
}

.pager {
    margin: 20px 0;
}

.validationMesage {
    font-size: small;
}

#contactForm label {
    color: azure;
}

section#contact .form-group textarea.form-control {
    height: 287px;
}

.text-primary, a {
    color: black;
}

#widget {
    margin-bottom: 15px;
}

.bg-lighter {
    background: #f4f5f7;
    color: #3e444d !important;
}

#blog .blog-col {
    margin: 20px 0;
}

hr.primary {
    border-top: 6px solid #439ad5;
}

hr.primary, hr.light, hr.dark {
    max-width: 100px;
    margin: 25px auto;
    border-bottom: none;
}

img {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    width: auto\9;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
    border: 0;
    -ms-interpolation-mode: bicubic;
}

section {
    padding-bottom: 0;
}

header{
    background-image: url(../img/AkeemTaiwoBG.jpeg);
}
