.homebackground {
    background-image: url('../img/home-bg.jpg');
}

.postbackground {
    background-image: url('../img/post-bg.jpg');
}

#search {
    float: right;
    margin-top: 9px;
    width: 250px;
}

.search {
    height: 30px;
    position: relative;
    left: 10px;
    float: left;
    line-height: 22px;
}

    .search:hover .searchTextBox, .search input:focus {
        width: 200px;
        display: inline;
    }

.searchTextBox {
    display: none;
    border-radius: 5px;
    color: black;
}

.postTags {
    font-size: smaller;
    opacity: 0.5;
    font-style: italic;
}

.pager{
    margin: 20px 0;
}